/Parallel/Parallel Jump Search/nbproject/private/
/Sequential/Sequential Jump Search/nbproject/private/
/Parallel/Parallel Jump Search/build/
/Sequential/Sequential Jump Search/build/
/Sequential/Sequential Jump Search/dist/